<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="main.css" />
    <title>Shopping List App</title>
  </head>
  <body>
    <div id="shopping-list">
      <div class="header">
        <h1>{{ header.toUpperCase() }}</h1>
        <button id="btn-primary" @click="changeState('edit')">Add Item</button>
        <button id="btn-cancel" @click="changeState('default')">Cancel</button>
      </div>
      <div v-if="state === 'edit'" class="add-item-form">
        <input v-model="newItem" type="text" @keyup.enter="saveItem" placeholder="add new item" />
        <button @click="saveItem">Add Item</button>
      </div>
      <ul>
        <li v-for="item in reverseItems" :class="{strikeout: item.purchased}" @click="newPurchase(item)">{{ item.label }}</li>
      </ul>
      <p v-if="items.length === 0">done with all items!</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
      const helloVue = new Vue({
        el: '#shopping-list',
        data: {
          state: 'default',
          header: 'Shopping list app',
          newItem: '',
          items: [
            {
              label: '20 cups',
              purchased: false
            },
            {
              label: '10 hats',
              purchased: false
            },
            {
              label: '20 plates',
              purchased: false
            },
            {
              label: '5 ballons',
              purchased: true
            }
          ]
        },
        computed: {
          reverseItems() {
            return this.items.slice(0).reverse();
          }
        },
        methods: {
          saveItem: function () {
            if (this.newItem.length > 0) {
              const newItemObject = {
                label: this.newItem,
                purchased: false
              };
              this.items.push(newItemObject);
            }
            this.newItem = '';
          },
          newPurchase: function (item) {
            item.purchased = !item.purchased;
          },
          changeState: function (newState) {
            this.state = newState;
            this.newItem = '';
          }
        }
      });
    </script>
  </body>
</html>
