<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shopping List App</title>
  </head>
  <body>
    <div id="shopping-list">
      <h1>{{ header.toUpperCase() }}</h1>
      <input v-model="newItem" type="text" placeholder="add new item" />
      <ul>
        <li v-for="item in items">{{ item }}</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
      const helloVue = new Vue({
        el: '#shopping-list',
        data: {
          header: 'Shopping list app',
          newItem: '',
          items: ['20 cups', '10 hats', '20 plates', '5 ballons']
        }
      });
    </script>
  </body>
</html>
